<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= book.body %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author.name %>
  </p>

  <p>
    <strong>Page count:</strong>
    <%= book.page_count %>
  </p>

</div>
