<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_comment_path(@comment) %> <br>
  <%= link_to "Back to this article", @comment.article %>  <br>
  <%= link_to "Back to articles", articles_path %>  
</div>
