<div id="<%= dom_id project %>">
  author: <%= project.author %>
  <br/>
  description: <%= project.description %>
  <br/>
  developers count: <%= project.developers_count %>
  <br/>
  platform: <%= project.platform %>
  <br/>
</div>
